.clusterGroup {
  position: absolute;
  z-index: 0;
  animation: cluster-float 20s ease-in-out infinite;
}

.clusterGroup:nth-child(1) {
  top: 15%;
  left: 20%;
  animation-delay: 0s;
}

.clusterGroup:nth-child(2) {
  top: 55%;
  right: 25%;
  animation-delay: 4s;
}

.clusterGroup:nth-child(3) {
  bottom: 20%;
  left: 35%;
  animation-delay: 8s;
}

.clusterGroup:nth-child(4) {
  top: 75%;
  right: 45%;
  animation-delay: 2s;
}

.clusterGroup:nth-child(5) {
  top: 35%;
  left: 65%;
  animation-delay: 6s;
}

.clusterGroup:nth-child(6) {
  top: 10%;
  left: 5%;
  animation-delay: 1s;
}

.clusterGroup:nth-child(7) {
  top: 60%;
  left: 8%;
  animation-delay: 5s;
}

.clusterGroup:nth-child(8) {
  bottom: 15%;
  left: 3%;
  animation-delay: 9s;
}

.clusterGroup:nth-child(9) {
  top: 25%;
  right: 5%;
  animation-delay: 3s;
}

.clusterGroup:nth-child(10) {
  top: 70%;
  right: 8%;
  animation-delay: 7s;
}

.clusterGroup:nth-child(11) {
  bottom: 10%;
  right: 3%;
  animation-delay: 11s;
}

@keyframes cluster-float {
  0%, 100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.3;
  }
  25% {
    transform: translate(20px, -30px) scale(1.1);
    opacity: 0.5;
  }
  50% {
    transform: translate(-15px, 20px) scale(0.9);
    opacity: 0.6;
  }
  75% {
    transform: translate(30px, 15px) scale(1.05);
    opacity: 0.4;
  }
}

.point {
  position: absolute;
  width: 8px;
  height: 8px;
  background: radial-gradient(circle, rgba(167, 139, 250, 0.9), rgba(167, 139, 250, 0.4));
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(167, 139, 250, 0.6);
  animation: point-pulse 3s ease-in-out infinite;
}

.clusterGroup:nth-child(1) .point:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.clusterGroup:nth-child(1) .point:nth-child(2) {
  top: 15px;
  left: 20px;
  animation-delay: 0.2s;
}

.clusterGroup:nth-child(1) .point:nth-child(3) {
  top: -10px;
  left: 35px;
  animation-delay: 0.4s;
}

.clusterGroup:nth-child(1) .point:nth-child(4) {
  top: 25px;
  left: 10px;
  animation-delay: 0.6s;
}

.clusterGroup:nth-child(1) .point:nth-child(5) {
  top: 5px;
  left: 45px;
  animation-delay: 0.8s;
}

.clusterGroup:nth-child(1) .point:nth-child(6) {
  top: 30px;
  left: 30px;
  animation-delay: 1s;
}

.clusterGroup:nth-child(1) .point:nth-child(7) {
  top: -5px;
  left: 25px;
  animation-delay: 1.2s;
}

.clusterGroup:nth-child(1) .point:nth-child(8) {
  top: 20px;
  left: 5px;
  animation-delay: 1.4s;
}

.clusterGroup:nth-child(2) .point:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.clusterGroup:nth-child(2) .point:nth-child(2) {
  top: 18px;
  left: 22px;
  animation-delay: 0.25s;
}

.clusterGroup:nth-child(2) .point:nth-child(3) {
  top: -8px;
  left: 38px;
  animation-delay: 0.5s;
}

.clusterGroup:nth-child(2) .point:nth-child(4) {
  top: 28px;
  left: 12px;
  animation-delay: 0.75s;
}

.clusterGroup:nth-child(2) .point:nth-child(5) {
  top: 8px;
  left: 48px;
  animation-delay: 1s;
}

.clusterGroup:nth-child(2) .point:nth-child(6) {
  top: 32px;
  left: 32px;
  animation-delay: 1.25s;
}

.clusterGroup:nth-child(2) .point:nth-child(7) {
  top: -3px;
  left: 28px;
  animation-delay: 1.5s;
}

.clusterGroup:nth-child(2) .point:nth-child(8) {
  top: 22px;
  left: 8px;
  animation-delay: 1.75s;
}

.clusterGroup:nth-child(2) .point:nth-child(9) {
  top: 12px;
  left: 40px;
  animation-delay: 2s;
}

.clusterGroup:nth-child(3) .point:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.clusterGroup:nth-child(3) .point:nth-child(2) {
  top: 16px;
  left: 21px;
  animation-delay: 0.3s;
}

.clusterGroup:nth-child(3) .point:nth-child(3) {
  top: -9px;
  left: 36px;
  animation-delay: 0.6s;
}

.clusterGroup:nth-child(3) .point:nth-child(4) {
  top: 26px;
  left: 11px;
  animation-delay: 0.9s;
}

.clusterGroup:nth-child(3) .point:nth-child(5) {
  top: 6px;
  left: 46px;
  animation-delay: 1.2s;
}

.clusterGroup:nth-child(3) .point:nth-child(6) {
  top: 31px;
  left: 31px;
  animation-delay: 1.5s;
}

.clusterGroup:nth-child(3) .point:nth-child(7) {
  top: -4px;
  left: 26px;
  animation-delay: 1.8s;
}

.clusterGroup:nth-child(4) .point:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.clusterGroup:nth-child(4) .point:nth-child(2) {
  top: 17px;
  left: 23px;
  animation-delay: 0.22s;
}

.clusterGroup:nth-child(4) .point:nth-child(3) {
  top: -7px;
  left: 37px;
  animation-delay: 0.44s;
}

.clusterGroup:nth-child(4) .point:nth-child(4) {
  top: 27px;
  left: 13px;
  animation-delay: 0.66s;
}

.clusterGroup:nth-child(4) .point:nth-child(5) {
  top: 7px;
  left: 47px;
  animation-delay: 0.88s;
}

.clusterGroup:nth-child(4) .point:nth-child(6) {
  top: 33px;
  left: 33px;
  animation-delay: 1.1s;
}

.clusterGroup:nth-child(4) .point:nth-child(7) {
  top: -2px;
  left: 27px;
  animation-delay: 1.32s;
}

.clusterGroup:nth-child(4) .point:nth-child(8) {
  top: 23px;
  left: 9px;
  animation-delay: 1.54s;
}

.clusterGroup:nth-child(5) .point:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.clusterGroup:nth-child(5) .point:nth-child(2) {
  top: 14px;
  left: 19px;
  animation-delay: 0.28s;
}

.clusterGroup:nth-child(5) .point:nth-child(3) {
  top: -11px;
  left: 34px;
  animation-delay: 0.56s;
}

.clusterGroup:nth-child(5) .point:nth-child(4) {
  top: 24px;
  left: 9px;
  animation-delay: 0.84s;
}

.clusterGroup:nth-child(5) .point:nth-child(5) {
  top: 4px;
  left: 44px;
  animation-delay: 1.12s;
}

.clusterGroup:nth-child(5) .point:nth-child(6) {
  top: 29px;
  left: 29px;
  animation-delay: 1.4s;
}

.clusterGroup:nth-child(5) .point:nth-child(7) {
  top: -6px;
  left: 24px;
  animation-delay: 1.68s;
}

.clusterGroup:nth-child(6) .point:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.clusterGroup:nth-child(6) .point:nth-child(2) {
  top: 16px;
  left: 22px;
  animation-delay: 0.3s;
}

.clusterGroup:nth-child(6) .point:nth-child(3) {
  top: -8px;
  left: 38px;
  animation-delay: 0.6s;
}

.clusterGroup:nth-child(6) .point:nth-child(4) {
  top: 28px;
  left: 12px;
  animation-delay: 0.9s;
}

.clusterGroup:nth-child(6) .point:nth-child(5) {
  top: 8px;
  left: 46px;
  animation-delay: 1.2s;
}

.clusterGroup:nth-child(6) .point:nth-child(6) {
  top: 32px;
  left: 32px;
  animation-delay: 1.5s;
}

.clusterGroup:nth-child(6) .point:nth-child(7) {
  top: -3px;
  left: 28px;
  animation-delay: 1.8s;
}

.clusterGroup:nth-child(6) .point:nth-child(8) {
  top: 24px;
  left: 6px;
  animation-delay: 2.1s;
}

.clusterGroup:nth-child(7) .point:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.clusterGroup:nth-child(7) .point:nth-child(2) {
  top: 17px;
  left: 21px;
  animation-delay: 0.35s;
}

.clusterGroup:nth-child(7) .point:nth-child(3) {
  top: -7px;
  left: 36px;
  animation-delay: 0.7s;
}

.clusterGroup:nth-child(7) .point:nth-child(4) {
  top: 27px;
  left: 11px;
  animation-delay: 1.05s;
}

.clusterGroup:nth-child(7) .point:nth-child(5) {
  top: 7px;
  left: 44px;
  animation-delay: 1.4s;
}

.clusterGroup:nth-child(7) .point:nth-child(6) {
  top: 31px;
  left: 30px;
  animation-delay: 1.75s;
}

.clusterGroup:nth-child(7) .point:nth-child(7) {
  top: -2px;
  left: 25px;
  animation-delay: 2.1s;
}

.clusterGroup:nth-child(8) .point:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.clusterGroup:nth-child(8) .point:nth-child(2) {
  top: 15px;
  left: 20px;
  animation-delay: 0.4s;
}

.clusterGroup:nth-child(8) .point:nth-child(3) {
  top: -9px;
  left: 35px;
  animation-delay: 0.8s;
}

.clusterGroup:nth-child(8) .point:nth-child(4) {
  top: 25px;
  left: 10px;
  animation-delay: 1.2s;
}

.clusterGroup:nth-child(8) .point:nth-child(5) {
  top: 5px;
  left: 45px;
  animation-delay: 1.6s;
}

.clusterGroup:nth-child(8) .point:nth-child(6) {
  top: 30px;
  left: 30px;
  animation-delay: 2s;
}

.clusterGroup:nth-child(8) .point:nth-child(7) {
  top: -4px;
  left: 26px;
  animation-delay: 2.4s;
}

.clusterGroup:nth-child(8) .point:nth-child(8) {
  top: 22px;
  left: 7px;
  animation-delay: 2.8s;
}

.clusterGroup:nth-child(9) .point:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.clusterGroup:nth-child(9) .point:nth-child(2) {
  top: 18px;
  left: 23px;
  animation-delay: 0.32s;
}

.clusterGroup:nth-child(9) .point:nth-child(3) {
  top: -6px;
  left: 37px;
  animation-delay: 0.64s;
}

.clusterGroup:nth-child(9) .point:nth-child(4) {
  top: 29px;
  left: 13px;
  animation-delay: 0.96s;
}

.clusterGroup:nth-child(9) .point:nth-child(5) {
  top: 9px;
  left: 47px;
  animation-delay: 1.28s;
}

.clusterGroup:nth-child(9) .point:nth-child(6) {
  top: 33px;
  left: 33px;
  animation-delay: 1.6s;
}

.clusterGroup:nth-child(9) .point:nth-child(7) {
  top: -1px;
  left: 27px;
  animation-delay: 1.92s;
}

.clusterGroup:nth-child(9) .point:nth-child(8) {
  top: 21px;
  left: 8px;
  animation-delay: 2.24s;
}

.clusterGroup:nth-child(9) .point:nth-child(9) {
  top: 13px;
  left: 41px;
  animation-delay: 2.56s;
}

.clusterGroup:nth-child(10) .point:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.clusterGroup:nth-child(10) .point:nth-child(2) {
  top: 16px;
  left: 20px;
  animation-delay: 0.38s;
}

.clusterGroup:nth-child(10) .point:nth-child(3) {
  top: -10px;
  left: 34px;
  animation-delay: 0.76s;
}

.clusterGroup:nth-child(10) .point:nth-child(4) {
  top: 26px;
  left: 9px;
  animation-delay: 1.14s;
}

.clusterGroup:nth-child(10) .point:nth-child(5) {
  top: 6px;
  left: 43px;
  animation-delay: 1.52s;
}

.clusterGroup:nth-child(10) .point:nth-child(6) {
  top: 30px;
  left: 29px;
  animation-delay: 1.9s;
}

.clusterGroup:nth-child(10) .point:nth-child(7) {
  top: -5px;
  left: 24px;
  animation-delay: 2.28s;
}

.clusterGroup:nth-child(11) .point:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.clusterGroup:nth-child(11) .point:nth-child(2) {
  top: 19px;
  left: 24px;
  animation-delay: 0.42s;
}

.clusterGroup:nth-child(11) .point:nth-child(3) {
  top: -5px;
  left: 38px;
  animation-delay: 0.84s;
}

.clusterGroup:nth-child(11) .point:nth-child(4) {
  top: 28px;
  left: 14px;
  animation-delay: 1.26s;
}

.clusterGroup:nth-child(11) .point:nth-child(5) {
  top: 8px;
  left: 48px;
  animation-delay: 1.68s;
}

.clusterGroup:nth-child(11) .point:nth-child(6) {
  top: 34px;
  left: 34px;
  animation-delay: 2.1s;
}

.clusterGroup:nth-child(11) .point:nth-child(7) {
  top: 0px;
  left: 28px;
  animation-delay: 2.52s;
}

.clusterGroup:nth-child(11) .point:nth-child(8) {
  top: 20px;
  left: 10px;
  animation-delay: 2.94s;
}

@keyframes point-pulse {
  0%, 100% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
}

