.bar {
  position: absolute;
  width: 8px;
  height: 0;
  background: linear-gradient(180deg, rgba(74, 158, 255, 0.4), rgba(74, 158, 255, 0.1));
  opacity: 0;
  z-index: 0;
  animation: bar-grow 14s ease-in-out infinite;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(74, 158, 255, 0.3);
}

.bar:nth-child(1) {
  bottom: 0;
  left: 10%;
  animation-delay: 0s;
}

.bar:nth-child(2) {
  bottom: 0;
  left: 25%;
  animation-delay: 1.5s;
}

.bar:nth-child(3) {
  bottom: 0;
  left: 45%;
  animation-delay: 3s;
}

.bar:nth-child(4) {
  bottom: 0;
  left: 65%;
  animation-delay: 4.5s;
}

.bar:nth-child(5) {
  bottom: 0;
  left: 80%;
  animation-delay: 6s;
}

.bar:nth-child(6) {
  bottom: 0;
  left: 95%;
  animation-delay: 7.5s;
}

@keyframes bar-grow {
  0%, 100% {
    opacity: 0;
    height: 0;
  }
  20% {
    opacity: 0.6;
    height: 200px;
  }
  50% {
    opacity: 0.8;
    height: 400px;
  }
  80% {
    opacity: 0.6;
    height: 250px;
  }
}

.glow {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(74, 158, 255, 0.2) 0%, rgba(74, 158, 255, 0.05) 50%, transparent 100%);
  filter: blur(50px);
  opacity: 0;
  z-index: 0;
  animation: glow-move 18s ease-in-out infinite;
}

.glow:nth-child(7) {
  top: 20%;
  left: 20%;
  animation-delay: 0s;
}

.glow:nth-child(8) {
  top: 60%;
  right: 25%;
  animation-delay: 6s;
}

.glow:nth-child(9) {
  bottom: 20%;
  left: 50%;
  animation-delay: 3s;
}

@keyframes glow-move {
  0%, 100% {
    opacity: 0;
    transform: translate(0, 0) scale(0.8);
  }
  25% {
    opacity: 0.4;
    transform: translate(50px, -30px) scale(1);
  }
  50% {
    opacity: 0.6;
    transform: translate(-30px, 50px) scale(1.2);
  }
  75% {
    opacity: 0.4;
    transform: translate(30px, 30px) scale(1);
  }
}

.line {
  position: absolute;
  width: 2px;
  height: 0;
  background: linear-gradient(180deg, rgba(74, 158, 255, 0.5), transparent);
  opacity: 0;
  z-index: 0;
  animation: line-draw 10s ease-in-out infinite;
  filter: blur(1px);
}

.line:nth-child(10) {
  top: 0;
  left: 30%;
  animation-delay: 0s;
}

.line:nth-child(11) {
  top: 0;
  left: 60%;
  animation-delay: 3.5s;
}

.line:nth-child(12) {
  top: 0;
  left: 85%;
  animation-delay: 7s;
}

@keyframes line-draw {
  0%, 100% {
    opacity: 0;
    height: 0;
  }
  30% {
    opacity: 0.5;
    height: 300px;
  }
  60% {
    opacity: 0.7;
    height: 500px;
  }
  90% {
    opacity: 0.4;
    height: 200px;
  }
}


